#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

#  Local .terragrunt-cache directories
**/.terragrunt-cache/*

# .terraform.lock.hcl files
*.terraform.lock.hcl
*.terraform.lock.hcl.*

*backend.tf